{% macro panel(item) %}
<div class="information-panel govuk-!-margin-bottom-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <dl class="govuk-list">
                <dt>Competition number</dt>
                <dd>Programme</dd>

                <dt>Competition type</dt>
                <dd>Programme</dd>

                <dt>Innovation sector</dt>
                <dd>Materials and manufacturing</dd>

                <dt>Innovation area</dt>
                <dd>Digital manufacturing</dd>
            </dl>
        </div>
        <div class="govuk-grid-column-one-half">
            <dl class="govuk-list">
                <dt>Funding available</dt>
                <dd>£115,000</dd>

                <dt>Innovation Lead</dt>
                <dd>Ian Cooper</dd>

                <dt>Portfolio Manager</dt>
                <dd>John Doe</dd>
            </dl>
        </div>
    </div>

</div>
{% endmacro %}