<nav class="ifs-sub-navigation">
    <ul class="ifs-sub-navigation__section">
        {% if currentPage == 'autocomplete' %}
        <li class="ifs-sub-navigation__section-item ifs-sub-navigation__section-item--current">
            <a class="ifs-sub-navigation__link govuk-link" href="/components/autocomplete">Autocomplete</a>
        </li>
        {% else %}
        <li class="ifs-sub-navigation__section-item">
            <a class="ifs-sub-navigation__link govuk-link" href="/components/autocomplete">Autocomplete</a>
        </li>
        {% endif %}
        <li class="ifs-sub-navigation__section-item">
            <a class="ifs-sub-navigation__link govuk-link" href="/components/autocomplete">Item</a>
        </li>
        <li class="ifs-sub-navigation__section-item">
            <a class="ifs-sub-navigation__link govuk-link" href="/components/autocomplete">Item</a>
        </li>
        <li class="ifs-sub-navigation__section-item">
            <a class="ifs-sub-navigation__link govuk-link" href="/components/autocomplete">Item</a>
        </li>
    </ul>
</nav>
