
{% extends "layout.html" %}
{% import "components/sub-navigation.html" as subNavigation %}

{% block pageTitle %}
  Autocomplete
{% endblock %}

{% set prototypesActive = true %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">2019</h2>
        {{ subNavigation.nav([
            {name: 'Mar', url: '/prototypes/2019/march', currentPage: false},
            {name: 'Apr', url: '/prototypes/2019/april', currentPage: false},
            {name: 'May', url: '/prototypes/2019/may', currentPage: true}
        ]) }}
    </div>
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">
            May 2019
        </h1>
        <!--<ul class="govuk-list">-->
            <!--<li>-->
                <!--<a href="/prototypes/2019/mar/ifs-123" class="govuk-link">IFS-123 Add monitoring officer to project</a>-->
            <!--</li>-->
        <!--</ul>-->

    </div>
</div>


{% endblock %}
