
{% extends "layout.html" %}
{% from "warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
IFS Components library
{% endblock %}

{% set currentSection = "component" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        {% include "includes/sub-navigation.html" %}
    </div>
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">
            IFS Components
        </h1>

        <p>Add description</p>
    </div>
</div>

{% endblock %}
