
{% extends "layout.html" %}
{% import "includes/sub-navigation.html" as subNavigation %}

{% block pageTitle %}
  Autocomplete
{% endblock %}

{% set patternLibraryActive = true %}
{% set showNavigation = true %}
{% set componentsActive = true %}
{% set currentPage = "navigation" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        {{ subNavigation.nav([
            {name: 'Autocomplete', url: '/pattern-library/components/autocomplete', currentPage: false, active: true},
            {name: 'Progress list', url: '/pattern-library/components/progress-list', currentPage: false, active: true},
            {name: 'Task list', url: '/pattern-library/components/task-list', currentPage: false, active: true},
            {name: 'Navigation', url: '/pattern-library/components/navigation', currentPage: true, active: true},
            {name: 'Sub navigation', url: '/pattern-library/components/sub-navigation', currentPage: false, active: true}
        ]) }}
    </div>
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">
            Navigation
        </h1>

        <hr class="govuk-!-margin-bottom-6" />

        <div class="example">
            <div class="example-component">
                {{ navigation.nav([
                    {name: 'Item 1', url: '#', currentSection: true},
                    {name: 'Item 2', url: '#', currentSection: false},
                    {name: 'Item 3', url: '#', currentSection: false}
                ]) }}
            </div>
            <ul class="example-tab--navigation">
                <li>
                    <a href="#" class="govuk-link" id="html">HTML</a>
                </li>
                <li>
                    <a href="#" class="govuk-link" id="notes">Notes</a>
                </li>
            </ul>
            <div class="example-tab" id="html-tab">
                <pre>
                    <code class="html">
                        {{ navigation.nav([
                            {name: 'Item 1', url: '#', currentSection: true},
                            {name: 'Item 2', url: '#', currentSection: false},
                            {name: 'Item 3', url: '#', currentSection: false}
                        ]) }}
                    </code>
                </pre>
            </div>
            <div class="example-tab" id="notes-tab">
                <p class="govuk-body">Add notes here.</p>
            </div>
        </div>

    </div>
</div>


{% endblock %}
