// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-button-colour: #00823B;
$ifs-warning-button-colour: #c00000;
$wide-page-width: 1380px;

// IFS mixins
// ===========================================
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}

@mixin transition-property($property...) {
  -moz-transition-property:    $property;
  -o-transition-property:      $property;
  -webkit-transition-property: $property;
  transition-property:         $property;
}

@mixin transition-duration($duration...) {
  -moz-transition-property:    $duration;
  -o-transition-property:      $duration;
  -webkit-transition-property: $duration;
  transition-property:         $duration;
}

@mixin box-shadow($property...) {
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
  box-shadow: $property;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius; // Chrome 4.0, Safari 3.1 to 4.0, Mobile Safari 3.2, Android Browser 2.1
  -moz-border-radius: $radius; // Firefox 2.0 to 3.6
  border-radius: $radius;
}

@mixin is-ie8() {
  @if $govuk-is-ie8 {
    @content;
  }
}

@mixin media-down($size: false, $max-width: false, $min-width: false) {
  @if $govuk-is-ie8 == false {
    @if $size == mobile {
      @media (max-width: 640px) {
        @content;
      }
    }

    @else if $size == tablet {
      @media (max-width: 800px) {
        @content;
      }
    }
  }
}

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// IFS layout
@import "layout/grid";
@import "layout/small";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "components/autocomplete";
@import "components/navigation";
@import "components/cards";
@import "components/example";
@import "components/message-alerts";
@import "components/information-panel";
@import "components/highlight-panel";
@import "components/list-overview";
<<<<<<< HEAD
@import "components/statusses";
@import "components/boxed-list";
@import "components/progress-list";
@import "components/milestones-list";
=======
@import "components/modifiers";
>>>>>>> survey-and-dropdown

// Page specific styling
@import "pages/competition-management";
