
{% extends "layout.html" %}
{% import "includes/sub-navigation.html" as subNavigation %}

{% block pageTitle %}
  Autocomplete
{% endblock %}

{% set prototypesActive = true %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        {{ subNavigation.nav([
            {name: 'IFS', url: 'ifs', currentPage: true},
            {name: 'Horizon2020', url: 'h2020', currentPage: false},
            {name: 'ACC', url: 'acc', currentPage: false}
        ]) }}
    </div>
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">
            Sprint notes
        </h1>

    </div>
</div>


{% endblock %}
