
{% extends "layout.html" %}
{% import "includes/sub-navigation.html" as subNavigation %}

{% block pageTitle %}
  Autocomplete
{% endblock %}

{% set prototypesActive = true %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">2019</h2>
        {{ subNavigation.nav([
            {name: 'Mar', url: '/prototypes/2019/march', currentPage: true},
            {name: 'Apr', url: '/prototypes/2019/april', currentPage: false},
            {name: 'May', url: '/prototypes/2019/may', currentPage: false}
        ]) }}
    </div>
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">
            IFS-124  Add monitoring officer to project
        </h1>

    </div>
</div>


{% endblock %}
