
{% extends "layout.html" %}
{% import "includes/sub-navigation.html" as subNavigation %}

{% block pageTitle %}
  Autocomplete
{% endblock %}

{% set prototypesActive = true %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">2019</h2>
        {{ subNavigation.nav([
            {name: 'Mar', url: '/prototypes/2019/march', currentPage: true, active: true}
        ]) }}
    </div>
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">
            Mar 2019
        </h1>
        <ul class="govuk-list">
            <li>
                <a href="/prototypes/2019/march/assessor-invites" class="govuk-link" target="_blank">Assessor invite journey</a>
            </li>
        </ul>

    </div>
</div>


{% endblock %}
