code {
  font-family: monospace, monospace;
  font-size: 1em;

  .hljs-tag,
  .hljs-name {
    color: #000080;
    font-weight: normal;
  }

  .hljs-attr {
    color: #007f80;
    font-weight: normal;
  }

  .hljs-string {
    color: #dd1144;
    font-weight: normal;
  }
}