
{% extends "layout.html" %}

{% block pageTitle %}
IFS Components library
{% endblock %}

{% set patternLibraryActive = true %}
{% set showNavigation = true %}
{% set getStartedActive = true %}

{% block content %}

<h1 class="govuk-heading-xl">
    Pattern library
</h1>

<h2 class="govuk-heading-m">Using the pattern library</h2>
<p class="govuk-body">Guid to setting up the prototyping kit here</p>

<h2 class="govuk-heading-m">Release notes</h2>
<p class="govuk-body">V.1.0.0</p>

{% endblock %}
