
{% extends "layout.html" %}
{% import "includes/sub-navigation.html" as subNavigation %}

{% block pageTitle %}
IFS Prototypes
{% endblock %}

{% set visionObjectivesActive = true %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        {{ subNavigation.nav([
        {name: 'Vision', url: 'vision', currentPage: false, active: true},
        {name: 'Objectives', url: 'objectives', currentPage: false, active: true},
        {name: 'Project principles', url: 'project-principles', currentPage: true, active: true}
        ]) }}
    </div>
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">
            Project principles
        </h1>
    </div>
</div>

{% endblock %}
